@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main_color: #F97316;
  --border_color: #e4e4e4;
  --icon_color: #9ca4ab;
  --white-color: #ffffff;
  --text-color: #333333;
  --background-color: #f1f1f1;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
}
.dark-mode {
  --main_color: #F97316;
  --border_color: #8b8b8b;
  --icon_color: #9ca4ab;
  --white-color: #333333;
  --text-color: #ffffff;
  --background-color: #1f1b24;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c9c9c9 #f1f1f1;
}

.navbar_btn button {
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
input {
  width: 100%;
}

.navbar_logo {
  font-family: "Permanent Marker", cursive;
  /* color: var(--main_color); */
}

.login_msg_error {
  color: red;
  font-size: 14px;
}

/* loading style */
.loading-container {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}
.loader:before {
  content: "";
  width: 48px;
  height: 5px;
  background: #666666;
  opacity: 0.25;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--main_color);
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
/* *************************** */

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 12px;
}
.heart_icon {
  font-size: 20px;
  color: var(--icon_color);
}
.heart_icon.coloredHeart {
  color: var(--main_color);
}
.product {
  padding: 12px;
  /* border: 1px solid var(--border_color); */
  /* background-color: var(--white-color); */
  /* border-radius: 15px; */
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.product_img_container {
  margin: 0 auto;
  background-color: white;
  height: 140px;
  display: flex;
  align-items: center;
  width: 100%;
  /* border-radius: 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}



